@charset "UTF-8";
/*-----ПЕРЕМЕННЫЕ-----*/
:root {
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-logo: 'Raleway', sans-serif;
  --color-accent: #2196f3;
  --color-theme-light-primary: #212121;
  --color-theme-light-secondary: #757575;
  --color-theme-dark-primary: #ffffff;
  --color-theme-dark-secondary: rgba(255; 255; 255; 0.6);
  --background-color-primary: #ffffff;
  --background-color-secondary: #2f303a;
  --background-color-button: #2196f3;
  --background-color-section-team: #f5f4fa;
  --latter-spacing-mean: 0.03em;
  --latter-spacing-minimum: 0.02em;
  --latter-spacing-maximum: 0.06em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-----СБРОС МАРКЕРОВ СО СПИСКОВ, ПОДЧЕРКИВАНИЯ ССЫЛОК, НАКЛОНА БУКВ В АДРЕСАХ-----*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.current {
  color: #2196f3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #212121;
  text-decoration: none;
}

address {
  font-style: normal;
  margin-top: 20px;
}

/*-----СБРОС СТИЛЕЙ БРАУЗЕРА-----*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*-----ОБЩИЕ БЛОЧНЫЕ СТИЛИ-----*/
.section {
  padding: 94px 0;
}

/*-----СТИЛИ, КОТОРЫЕ НАСЛЕДУЮТСЯ-----*/
body {
  font-family: var(--font-family-primary);
  font-size: 14px;
  background-color: var(--background-color-primary);
  letter-spacing: var(--latter-spacing-mean);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    overflow: hidden;
  }
}

.logo {
  font-family: var(--font-family-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--latter-spacing-mean);
}

.logo_style_dark {
  color: #212121;
}

.logo__style {
  color: #2196f3;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo_style_dark {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo_style_dark {
    margin-right: 92px;
  }
}

.social {
  justify-content: center;
}

.social__position {
  margin-left: 70px;
  padding-top: 12px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__list {
  display: flex;
}

.social__center {
  justify-content: center;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link.social__link:focus {
  background-color: var(--color-accent);
}

.social__link_light {
  background-color: #ffffff;
}

.social__link_light:hover, .social__link_light.social__link:focus {
  background-color: var(--color-accent);
}

.social__icon_light {
  fill: var(--color-theme-light-secondary);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon_light,
.social__link:focus .social__icon_light {
  fill: var(--background-color-primary);
}

.social__text {
  font-family: var(--font-family-primary);
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--color-theme-dark-primary);
  text-transform: uppercase;
  color: var(--color-theme-dark-primary);
  margin-bottom: 20px;
  margin-left: 70px;
  padding-top: 12px;
}

.social__element_position:not(:last-child) {
  margin-right: 10px;
}

.social__link_dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__link_dark:hover, .social__link_dark:focus {
  background-color: var(--color-accent);
}

.social__icon_dark {
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media__link:hover .social__icon_dark,
.media__link:focus .social__icon_dark {
  fill: var(--background-color-primary);
}

/*-----МОДАЛЬНОЕ ОКНО-----*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 40px 39px 40px 41px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover, .btn-close:focus {
  fill: #2196f3;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.contact-form__text {
  font-family: var(--font-family-primary);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: var(--latter-spacing-mean);
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.contact-form__field {
  display: block;
  margin-bottom: 10px;
}

.contact-form__field ::placeholder {
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus {
  outline: none;
  border-color: #2196f3;
}

.contact-form__name {
  font-family: var(--font-family-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
}

.contact-form__wrapper {
  position: relative;
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__input:focus + .contact-form__icon {
  fill: #2196f3;
}

.contact-form__message {
  width: 100%;
  min-height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__message:focus {
  outline: none;
  border-color: #2196f3;
}

.chackbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.chackbox__label {
  display: flex;
  align-items: center;
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: var(--latter-spacing-mean);
  text-align: left;
  color: #757575;
}

.chackbox__label::before {
  content: '';
  display: inline-block;
  height: 15px;
  width: 16px;
  background-color: white;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

.chackbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.chackbox__input:checked + .chackbox__label::before {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(/images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
}

.chackbox__text {
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: var(--latter-spacing-mean);
  text-align: left;
}

.modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  background: #188ce8;
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: var(--latter-spacing-maximum);
  text-align: center;
  color: white;
  border-style: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.chackbox__color {
  color: var(--color-accent);
}

/*-----Mobile-----*/
.navigation__list {
  display: none;
}

.communication-list {
  display: none;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 25px;
}

.mobile-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.mobile-icon {
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon:hover, .mobile-icon:focus {
  fill: var(--background-color-button);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: white;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  fill: #212121;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
  fill: var(--background-color-button);
}

.mobile-menu__page-iteme {
  display: flex;
  font-family: var(--font-family-primary);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: var(--latter-spacing-minimum);
  margin-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__page-iteme:hover, .mobile-menu__page-iteme:focus {
  color: var(--color-accent);
}

.mobile-menu__contact {
  margin-bottom: 64px;
}

.mobile-menu__contact-tel {
  display: flex;
  font-family: var(--font-family-primary);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: var(--latter-spacing-minimum);
  color: #2196f3;
  margin-bottom: 32px;
}

.mobile-menu__contact-mailo {
  font-family: var(--font-family-primary);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: var(--latter-spacing-minimum);
  color: #757575;
}

.mobile-menu__social {
  display: flex;
}

.mobile-menu__social-link {
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: var(--latter-spacing-minimum);
  color: #2196f3;
}

.mobile-menu__line {
  background-color: rgba(33, 33, 33, 0.2);
  width: 22px;
  height: 1px;
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation__list {
    display: flex;
  }
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: var(--latter-spacing-minimum);
    color: var(--color-theme-light-primary);
    align-items: center;
    cursor: pointer;
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--color-accent);
  }
  .navigation__link.current {
    color: #2196f3;
  }
  .navigation__link.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--background-color-button);
  }
  .communication {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: var(--latter-spacing-minimum);
  }
  .communication-list {
    display: block;
    margin-left: auto;
  }
  .mobile-btn {
    display: none;
  }
  .communication__color {
    color: var(--color-theme-light-secondary);
  }
  .communication__color:hover, .communication__color:focus, .communication__color:active {
    color: var(--color-accent);
  }
  .communication__icon {
    margin-right: 10px;
    fill: var(--color-theme-light-secondary);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .communication__color:hover .communication__icon,
  .communication__color:focus .communication__icon,
  .communication__color:active .communication__icon {
    fill: var(--color-accent);
  }
  .communication__position {
    display: flex;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .communication-list {
    display: flex;
  }
  .communication__position {
    margin-right: 30px;
  }
}

/*-----СЕКЦИЯ HERO-----*/
.hero {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-secondary);
  padding: 200px 0;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: var(--latter-spacing-maximum);
  text-transform: uppercase;
  color: var(--color-theme-dark-primary);
}

.hero__header_position {
  margin-bottom: 30px;
}

.hero__button {
  font-family: inherit;
  background: var(--background-color-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-theme-dark-primary);
  letter-spacing: var(--latter-spacing-maximum);
}

.hero__button_position {
  padding: 10px 32px;
}

/*-----СЕКЦИЯ КАЧЕСТВА-----*/
.quality__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.quality__item {
  width: 270px;
}

.quality__item_position {
  margin-right: 30px;
}

.quality__item_position:last-child {
  margin-right: 0;
}

.quality__icon {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.quality__headlines {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-theme-light-primary);
  text-transform: uppercase;
  letter-spacing: var(--latter-spacing-mean);
  margin-bottom: 10px;
}

.quality__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-theme-light-secondary);
  letter-spacing: var(--latter-spacing-mean);
}

/*-----СЕКЦИЯ ЧЕМ МЫ ЗАНИМАЕМСЯ-----*/
.competencies_position {
  padding-top: 0;
}

.competencies__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: var(--latter-spacing-mean);
  color: var(--color-theme-light-primary);
}

.competencies__header_position {
  margin-bottom: 50px;
}

.competencies__list {
  display: flex;
  align-items: center;
  width: 370px;
}

.competencies__item__position {
  margin-right: 30px;
}

.competencies__item__position:last-child {
  margin-right: 0;
}

.competencies__image_position {
  position: relative;
}

.blackout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  overflow: hidden;
}

.blackout__text {
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding-left: 1px;
  letter-spacing: var(--latter-spacing-mean);
  text-transform: uppercase;
  color: var(--color-theme-dark-primary);
}

/*-----СЕКЦИЯ НАША КОМАНДА-----*/
.team {
  background-color: var(--background-color-section-team);
}

.team__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: var(--latter-spacing-mean);
  color: var(--color-theme-light-primary);
  margin-bottom: 50px;
}

.team__item {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.team__list {
  background: var(--background-color-primary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team__list_position {
  margin-right: 30px;
}

.team__list_position:last-child {
  margin-right: 0;
}

.team__img {
  border-radius: 0px;
}

.team__block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--latter-spacing-mean);
  color: var(--color-theme-light-primary);
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: var(--latter-spacing-mean);
  color: var(--color-theme-light-secondary);
  margin-bottom: 16px;
}

/*-----СЕКЦИЯ ПОСТОЯННЫЕ КЛИЕНТЫ-----*/
.clients {
  letter-spacing: var(--latter-spacing-mean);
}

.clients__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: var(--latter-spacing-mean);
  color: var(--color-theme-light-primary);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.clients__item {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients__item_position {
  margin-right: 30px;
}

.clients__item_position:last-child {
  margin-right: 0;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.clients__link:hover, .clients__link:focus {
  fill: var(--color-accent);
  border: 1px solid var(--color-accent);
}

/*-----FOOTER-----*/
.footer {
  background: #2f303a;
  padding: 60px 0;
}

.block {
  display: flex;
  align-items: flex-start;
}

.footer__information {
  display: block;
}

.logo_style_light {
  color: #ffffff;
}

.address__item_position:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-family: var(--font-family-primary);
  letter-spacing: var(--latter-spacing-mean);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-theme-dark-primary);
}

.address__mailo,
.address__phone {
  font-family: var(--font-family-primary);
  letter-spacing: var(--latter-spacing-mean);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.mailing {
  display: flex;
  margin-left: 93px;
  padding-top: 12px;
}

.mailing__header {
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 700;
  font-style: bold;
  line-height: 1.14;
  letter-spacing: var(--latter-spacing-mean);
  text-align: left;
  text-transform: uppercase;
  color: var(--color-theme-dark-primary);
  margin-bottom: 20px;
}

.mailing__interaction {
  display: flex;
}

.mailing__email {
  width: 358px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: var(font-family-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: var(--latter-spacing-mean);
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  margin-right: 12px;
  outline: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing__email:hover,
.mailing__email:focus {
  border-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.mailing__button {
  display: flex;
  align-items: center;
  height: 50px;
  width: 200px;
  font-family: var(--font-family-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: var(--latter-spacing-maximum);
  text-align: center;
  border-radius: 4px;
  background-color: var(--background-color-button);
  color: var(--color-theme-dark-primary);
  padding: 10px 28px 10px 29px;
  cursor: pointer;
  border-style: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing__button:hover,
.mailing__button:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.mailing__icon {
  fill: #ffffff;
}

.mailing__icon_position {
  margin-left: 10px;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-list {
  margin-right: 8px;
}

.button-list.current {
  background-color: #2196f3;
}

.button-list:last-child {
  margin-right: 0;
}

.button-properties {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: var(--latter-spacing-mean);
  min-width: 74px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  background-color: var(--background-color-section-team);
  color: #212121;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter:hover,
.portfolio-filter:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-filter:current {
  color: var(--color-theme-dark-primary);
  background-color: var(--background-color-button);
}

.button-properties:hover,
.button-properties:focus {
  color: white;
  background-color: #2196f3;
}

.example {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-top: 50px;
}

.example__element {
  fill: solid #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example__element:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.example__element:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}

.example__element:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.example__link {
  display: block;
}

.example__link:hover .overlay,
.example__link:focus .overlay {
  transform: translateY(0%);
}

.example__wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: var(--latter-spacing-mean);
  color: var(--color-theme-dark-primary);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-example {
  justify-content: flex-start;
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
}

.work-example__header {
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--latter-spacing-maximum);
  color: var(--color-theme-light-primary);
  margin-bottom: 4px;
}

.work-example__text {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: var(--latter-spacing-mean);
  color: var(--color-theme-light-secondary);
}
/*# sourceMappingURL=main.css.map */