:root {
  --font-family: 'Montserrat', sans-serif;

  --color-accent: #ff6b09;
  --color-blackout: #ffffff;

  --color-primary: #111518;
  --color-secondary: #b9b9b9;
  --color-reviews: #3d3d3d;

  --background-dark-section: #111518;
  --background-light-section: #e5e5e5;
  --background-guarantee-section: #f1f1f1;
  --background-button: #ff6b09;

  --letter-spacing-secondary: 0.03em;
  --letter-guarantee-section: 0.06em;
  --letter-button: 0.14em;
}
