/*-----ПЕРЕМЕННЫЕ-----*/
:root {
  --font-family-primary: 'Roboto', sans-serif;
  --font-family-logo: 'Raleway', sans-serif;

  --color-accent: #2196f3;
  --color-theme-light-primary: #212121;
  --color-theme-light-secondary: #757575;
  --color-theme-dark-primary: #ffffff;
  --color-theme-dark-secondary: rgba(255; 255; 255; 0.6);

  --background-color-primary: #ffffff;
  --background-color-secondary: #2f303a;
  --background-color-button: #2196f3;
  --background-color-section-team: #f5f4fa;

  --latter-spacing-mean: 0.03em;
  --latter-spacing-minimum: 0.02em;
  --latter-spacing-maximum: 0.06em;
}
